<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.shop.shopapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.android.shop.shopapp.ShopApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.GroupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.LaunchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UploadActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/upload_title"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.OrdersListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_orders"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.OrderDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_orders"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_orders"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>
        <activity
            android:name=".activity.ProductDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/product_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.ManageProductsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/product_management"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ManagerNewUserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/adult"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/login_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/register_title"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.UpdateInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/forgetpwd_title"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.android.shop.shopapp.activity.SearchActivity" />
    </application>

</manifest>